<!DOCTYPE html>
<html lang="en">

<head>
    <title>Registration | NeuroVault</title>

    <meta name="description" content="User profile page | Simptoms" />
    <meta name="keywords" content="profile, status" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="ro" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../views/log.css" />
    <link rel="icon" href="../public/logo.ico" tpye="img/ico"/>
    <style>
    </style>
</head>
<body>  
    <div class="container">
        <div class="register-container">
            <h2>Register</h2>
        </div>
        <div class="register-container">
            <form>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input name="firstname" type="name" class="form-control" id="firstName" placeholder="First Name" required />
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input name="lastname" type="name" class="form-control" id="lastName" placeholder="Last Name" required />
                </div>
                <div class="form-group">
                    <label for="emailAddress">Email Address</label>
                    <input name="email" type="email" class="form-control" id="emailAddress" placeholder="Email" required />
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number</label>
                    <input name="telephone" type="tel" class="form-control" id="phoneNumber" placeholder="Phone" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" type="name" class="form-control" id="password" placeholder="Password" required />
                </div>
                <div class="form-group">
                    <label for="institution">Institution</label>
                    <input name="institution" type="name" class="form-control" id="institution" placeholder="Institution" required />
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">
                    Sign up
                </button>
            </form>
        </div>
        <div class="text-center">
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>