<!DOCTYPE html>
<html>
<head>
    <title>NeuroVault | Home</title>
    <meta name="description" content="Doctor profile page | Pacients" />
    <meta name="keywords" content="profile, status" />
    <meta name="robots" content="index, follow" />
    <meta name="language" content="ro" />
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="homecss.css" />
    <link rel="icon" href='../public/logo.ico' tpye="img/ico"/>
    <style>
        .left h3 {
            font-size: 2.5rem;
            cursor: pointer;
            color: white;
        }
        .navbar {
            background: rgb(186,243,255);
            background: linear-gradient(90deg, rgba(186,243,255,1) 0%, rgba(98,170,255,1) 65%, rgba(186,243,255,1) 100%);
            border-radius: 1rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            line-height: auto;
        }
        .right ul {
            display: flex;
            list-style: none;
        }
        .right ul li a {
            padding: 10px 20px;
            font-size: 1.2rem;
            color: white;
            cursor: pointer;
            text-decoration: none;
            transition: all 1s;
        }
        .right ul li a:hover {
            background-color: #fff;
            border-radius: 7px;
            color: rgb(21, 91, 203);
        }
        @media screen and (max-width:805px) {
            .list {
                width: 100%;
                height: 100vh;
                background-color: rgb(21, 91, 203);
                text-align: center;
                display: flex;
                flex-direction: column;
                position: fixed;
                top: 4rem;
                left: 100%;
                transition: all 1s;
            }
        }

        .buttonL {
            display: inline-block;
            text-align: center;
            background:linear-gradient(to top, rgba(98,170,255,1)  ,  #c5c9c9 100%);
            border: none;
            cursor: pointer;
            width: 280px ;
            height: 350px;
            color: white;
            margin-top: 400px;
            margin-left:350px;
            border-radius: 25px;
            line-height: 1.2;
            transition : background 0.3s;
        }
        .buttonR {
            display: inline-block;
            text-align: center;
            padding: 10px;
            background:linear-gradient(to top, rgba(98,170,255,1)  ,  #c5c9c9 100%);
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 280px;
            height: 350px;
            line-height: 1.2;
            color: white;
            float: right;
            margin-right:350px;
            margin-top:400px;
            border-radius: 25px;
        }

        .buttonL span {
            display: block;
        }
        .buttonR span{
            display: block;
        }
        img{
            width: 100px;
        }
        .login{
            font-size:50px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .front {
            background:linear-gradient(to top ,rgba(98,170,255,1)  10%, transparent 40%),
            url("../blur-hospital.jpg") no-repeat center;
            background-size: cover;
        }
        .logChoice{
            font-size:25px;
        }
        h1 {
            background-color:rgba(98,170,255,1) ;
        }
        .space{
            padding-top:100px;

        }
        .register{
            margin-left: 39%;
            color:white;
            background: linear-gradient(to bottom, rgba(98,170,255,1) 10% ,  #c5c9c9 100%);
            font-size: 20px;
        }
        .description
        {
            color: white;
            background-color: rgba(98,170,255,1) ;
        }
        .buttonL:hover
        {
            background:linear-gradient(to bottom , rgba(98,170,255,1) 10% ,  #c5c9c9 100%);


        }
        .buttonR:hover
        {
            background:linear-gradient(to bottom , rgba(98,170,255,1) 10% ,  #c5c9c9 100%);
        }

        h3 b {
            font-size : 30px;
            padding-left:120px;

        }

        .description{
            padding-left: 20px;
            padding-top: 100px ;
            padding-bottom:70px;

        }
        .description h2
        {
            font-size: 50px;
            font-family: 'Lato', sans-serif;
            padding-left:70px ;
        }
        .description p
        {
            padding-left:120px;
            font-size:30px ;
            margin-right:50px ;

        }
        .description h1
        {
            font-size: 80px;
            background:linear-gradient(to bottom , rgba(98,170,255,1) 30% ,  #c5c9c9 70% , rgba(98,170,255,1) 100%  );

            width: fit-content;
            padding-bottom:20px;

        }
        .antet
        {
            background-color:  rgba(98,170,255,1) ;
            padding-left:45%;
            color: white;
            text-decoration: none;
        }
        .buttonL .link {
            text-decoration: none;
            color: inherit;
        }
        .buttonR .link {
            text-decoration: none;
            color: inherit;
        }
    </style>
</head>
<body>
<div class = "front">
    <div class ="container">
        <nav class="navbar">
            <div class="left">
                <h3>Neurovault</h3>
            </div>
            <div class="right">
                <ul class="list">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#aboutUs">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <a href="/login"> <button class="buttonL">
        <!-- TODO: add link pliz -->
        <span class = "login">Login</span>
        <span class = "logChoice">as a Patient</span>
        <span class = "space"></span>
    </button> </a>
    <button class="buttonR">
        <!-- TODO: add link pliz -->
        <span class = "login">Login</span>
        <span class = "logChoice">as a Specialist </span>
        <span class = "space"></span>
    </button>
    <p></p>
    <a href="/register" class= "register" >
        <span>Don't have an account?Re gister here</span>

    </a>
</div>
<div class="description" id="aboutUs">
    <h1>About us :</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad tempora possimus incidunt ab eligendi, cumque reprehenderit impedit qui quae quos, perspiciatis consequatur exercitationem natus iure maxime distinctio, eveniet aliquid quasi.</p>
</div>
</body>
</html>